#!/bin/bash
docker run -d --restart=unless-stopped -p 8080:8080 -p 9345:9345 rancher/server:stable \
--db-host {{ rancher_secrets.secrets.rancher_rds_url }}.{{ rancher_secrets.secrets.rancher_cname_domain }} \
--db-port {{ rancher_secrets.secrets.rancher_rds_port }} \
--db-user {{ rancher_secrets.secrets.rancher_rds_user }} \
--db-pass {{ rancher_secrets.secrets.rancher_rds_pass }} \
--db-name {{ rancher_secrets.secrets.rancher_rds_dbname }} \
--advertise-address $(curl 169.254.169.254/latest/meta-data/local-ipv4/)
